[submodule "Asaurus/vendor/spdlog"]
	path = Asaurus/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Asaurus/vendor/GLFW"]
	path = Asaurus/vendor/GLFW
	url = https://github.com/Logstor/glfw
[submodule "Asaurus/vendor/imgui"]
	path = Asaurus/vendor/imgui
	url = https://github.com/TheCherno/imgui
[submodule "Asaurus/vendor/glm"]
	path = Asaurus/vendor/glm
	url = https://github.com/g-truc/glm
